services:
  backend:
    build: ./backend
    deploy: # Chạy 3 instance (container) của Rust cùng lúc
      replicas: 3
    expose:
      - "8080"

  frontend:
    build: ./frontend
    environment:
      - NEXT_PUBLIC_API_URL= # Đây là nơi ông "chốt" môi trường cho Docker/Nginx
      # Nếu ông muốn chạy Docker nhưng gọi thẳng Port 8080 (không qua Nginx)
      # thì chỉ cần đổi giá trị ở trên thành http://localhost:8080
    expose:
      - "3000"

  nginx:
    image: nginx:alpine
    volumes:
      - ./nginx.conf:/etc/nginx/conf.d/default.conf:ro
    ports:
      - "80:80"
    depends_on:
      - frontend
      - backend
